body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    position: absolute;
}

form {
    width: 300px;
    height: 130px;
    border: 1px black solid;
    padding: 50px;
    box-shadow: 6px 6px 7px 0px darkgrey;
    background: rgb(35,52,94);
    background: linear-gradient(0deg, rgba(35,52,94,1) 0%, rgba(0,212,255,1) 100%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form input {
    height: 25px;
    font-size: 18px;
    width: 100%;
}

form button {
    width: 50%;
    height: 50px;
    background: #b6effb;
}