<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>New User Created</h2>
<hr/>
<div style="margin: 10px">
    Setup File already contained users.  Please use an existing user.
</div>
<div>
    <a href="../login">return to login</a>
</div>
</body>
</html>
