<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>New User Created</h2>
    <hr/>
    <div>Log in using these credentials:</div>
    <div>username: <%= username %></div>
    <div>password: <%= password %></div>
    <div style="margin: 10px">
        <strong>
            <div>Please copy these credentials</div>
            <div>if they are lost they <span style="color: red">will not</span> be able to be recovered</div>
        </strong>
    </div>
    <div>
        <a href="../login">return to login</a>
    </div>
</body>
</html>