.navbar {
    padding-left: 15px;
    padding-right: 15px;
}

.link-light a {
    color: unset;
}

.main_icon {
    margin: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 140px;
}

.main_body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.main_icon_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 510px;
    top: 100px;
    border: 1px black solid;
    padding: 10px;
    background: #ecf3ff;
    border-radius: 10px;
}

.main_icon .icon_container {
    background: cornflowerblue;
    border-radius: 5px;
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_icon .icon_name {
    width: 100%;
    text-align: center;
    color: black;
    text-decoration: none;
}

.main_icon img {
    height: 100%;
    max-width: 70%;
    max-height: 70%;
}

.main_icon_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.addrowcontainer {
    height: 30px;
    width: 100%;
    background: #e7e7e7;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 20px;
}

.table {
    width: 100%;
}

.table table {
    width: 100%;
}

.infotable {
    margin-bottom: 0px;
}

.infotable img {
    max-width: 60px;
    max-height: 60px;
    min-width: 60px;
    min-height: 60px;
}

.modalcontainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalcontent {
    width: 600px;
    min-height: 200px;
    background: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-flow: column;

    visibility: visible;
    max-height: 500px;
    justify-content: flex-start;
}

.modalcontent div {
    display: flex;
    padding-top: 2px;
    padding-bottom: 2px;
}

.modalcontent span {
    width: 100px;
    flex: unset;
}

.modalcontent input {
    width: 100%;
    flex: 1;
}

.modalcontent ul {
    width: 100%;
    flex: 1;
}

.modalcontent li {
    width: 100%;
    flex: 1;
    list-style: none;
}

.modalcontent select {
    width: 100%;
    flex: 1;
}

.modalcontent textarea {
    width: 100%;
    flex: 1;
    min-height: 150px;
}

.modalcontent .mainmodalbodycontent {
    flex: 1;
    display: flex;
    flex-flow: column;
    overflow: scroll;
}

.modalcontent .buttoncontainer {
    margin-top: 10px;
    background: #e6e6e6;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: end;
}

.modalcontent .modaltitle {
    border-bottom: 1px black solid;
    margin-bottom: 10px;
}

.tablecontainer {
    margin: 10px;
}

.addrowdiv {
    height: 40px;
    flex: 1;
}

.left {
    float: left;
}

.right {
    float: right;
}
